*{
    --red: #4CC9F0;
}

.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 2px;
    background-color: #3498db;
    width: 100%;
    transform-origin: left center;
    z-index: 9999;
}