.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: top 0.3s ease-in-out;
}


.wrapper{
    position: relative;
    width: 100%;
    padding: 0 30px;
    height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links li {
    list-style: none;
}

.nav-links li .nav-links-title {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.4s ease;
    cursor: pointer;
}

.nav-links li .nav-links-title:hover {
    color: #008ECC;
}

.mega-box {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 30px;
    top: 100px;
    opacity: 0;
    visibility: hidden;
}

.nav-links li:hover .mega-box {
    transition: all 0.4s ease;
    top: 54px;
    opacity: 1;
    visibility: visible;
}

.content {
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 25px 40px;
    display: flex;
    width: 100%;
    justify-content: start;
}

.main {
    width: 80%;
}

.main .main_item {
    color: #008ECC;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
}

.mega-links {
}

.mega-links li {
}

.mega-links li .mega-links-name {
    margin-bottom: 8px;
    border: 1px solid #008ECC;
    border-radius: 6px;
    padding: 10px 10px;
    color: #000;
    font-size: 14px;
    display: inline-block;
    width: 80%;
}

.mega-links li .mega-links-name:hover {
    background-color: #008ECC;
    color: #fff;
    transition: all 0.4s ease;
}


@media (max-width: 650px) {
    .nav-menu {
        display: none;
    }
}